#==========================================#
#     Caligula's custom shell aliases.     #
#==========================================#
# Ruby "colorls" scripts are now used - https://github.com/athityakumar/colorls


###  Just The LS Shit  ###
alias ls='colorls -a -sd && printf "\n"'
alias l='colorls -a -sd && printf "\n"'
alias la='colorls -a -l -sd && printf "\n"'
alias lsa='colorls -a -l -sd && printf "\n"'
alias lal='colorls -a -l -sd && printf "\n"'
alias files='colorls -a -f -sf && printf "\n"'
alias folders='colorls -a -d -sd && printf "\n"'
alias report='colorls -a -sd -r && printf "\n"'
# alias ls='ls -a --color'
# alias l='ls -a --color'
# alias la='ls -alh --color'
# alias lsa='ls -alh --color'
# alias lal='ls -alh --color'
# alias list='ls -alh --color'

###  Navigation Shit  ###
cdls() { cd "$@" && ls; } # Combo command
alias cd='cdls'
alias c='cdls'
alias C='cdls'
alias go='cdls'
alias goto='cdls'
alias ..='cd ..'
alias ,,='cd ..'
alias up='cd ..'
alias ...='cd .. && cd ..'
alias ....='cd /'
alias ~='cd ~'
alias home='cd ~'
alias 1='cd ~'
alias 2='cd -'
alias back='cd -'
alias 3='cd /'
alias breadcrumb='pwd'
alias current='pwd'
alias whereami='pwd'
alias here='pwd'
alias search='find'
alias locate='find'
alias cl='clear'
alias www='cd /var/www/public_html'
alias html='cd /var/www/public_html'

###  File & Directory Management Shit  ###
alias rm='rm -rIv'
alias remove='rm -rIv'
alias delete='rm -rIv'
alias trash='rm -rIv'
alias cp='cp -iv'
alias copy='cp -iv'
alias duplicate='cp -iv'
alias mv='mv -iv'
alias move='mv -iv'
alias send='mv -iv'
alias place='mv -iv'
alias makedir='mkdir'
alias newfolder='mkdir'
alias chmode='chmod'
alias permission='chmod'
alias permissions='chmod'
alias fileperm='chmod'
shortcut() { ln -s "$@" ~/Desktop/$@; } # Creates shortcut to desktop
alias link='ln'
alias short='ln -s'
alias sc='ln -s'
alias makeshort='shortcut'
alias header='head'
alias preview='head'

###  User And Group Management Shit  ###
alias user='who'
alias online='who'
alias s='sudo'
alias root='su'
alias name='logname'
alias me='whoami'
alias password='passwd'
alias userpass='passwd'
alias adduser='useradd'
alias usradd='useradd'
alias addusr='useradd'
alias newuser='useradd'
alias usrdel='userdel'
alias deleteuser='userdel'
alias removeuser='userdel'
alias moduser='usermod'
alias changegroup='gpasswd -a'
alias changeowner='chown'
alias modowner='chown'

###  Program Shit  ###
alias n='nano'
alias na='nano'
alias nan='nano'
alias a='atom'
alias ato='atom'
alias lmux='tmux attach-session'
alias r='ranger'
alias neo='neofetch --block_range 0 15'
alias snyph='python /var/www/public_html/snyph/api.py'
alias weather='curl http://wttr.in/hacienda_heights'
alias powa='cd /usr/lib/python3.6/site-packages/powerline/'
alias net='netstat'
alias netinfo='netstat'
alias system='df -h -T; vmstat' # df displays free disk space, vmstat shows sysinfo
alias sysinfo='system'
alias task='htop'
alias tasks='htop'
alias taskmanager='htop'
alias process='ps'
alias processes='ps'

###  Script Shit  ###
alias dmenu='sh ~/scripts/dmenu.sh'
alias hax='sh ~/scripts/nmap.sh'
alias lock='sh ~/scripts/lock.sh'
alias lockscreen='sh ~/scripts/lock.sh'
alias ss='sh ~/scripts/ss.sh'
alias screenshot='sh ~/scripts/ss.sh'
alias colors='sh ~/scripts/colors.sh'
alias pipes='sh ~/scripts/pipes.sh -f30 -p5 -r0'
alias matrix='cmatrix -s'
alias walcycle='sh ~/scripts/walcycle.sh'
alias cycle='sh ~/scripts/walcycle.sh'

###  Other Shit  ###
alias exi='exit'
alias eixt='exit'
alias end='exit'
alias quit='exit'
alias bye='exit'
alias say='echo'
message() { echo -en "${BCyan}Press Ctrl+D to EOF${NC}" && write "$@"; }
alias msg='message'
alias h='history'
alias clipboard='history'
alias commands='history'
alias copypaste='history'
alias terminal='tty'
lol() { echo -e "Don't get funny with me, ${USER}."; }
lmao() { echo -e "Ayy, ${USER}."; }
asdf() { echo -e "Are you bored, ${USER}? I'm sure you have a backlog you could be watching..."; }
