#==========================================#
#     Caligula's custom shell aliases.     #
#==========================================#
# Ruby "colorls" scripts are now used - https://github.com/athityakumar/colorls


###  Script Shit  ###
alias busy='bash ~/scripts/busyscreen.sh'
alias colors='bash ~/scripts/colors.sh'
alias dmenu='bash ~/scripts/dmenu.sh'
alias lock='bash ~/scripts/lock.sh'
alias lockscreen='bash ~/scripts/lock.sh'
alias hax='bash ~/scripts/nmap.sh'
alias pipes='bash ~/scripts/pipes.sh -f30 -p5 -r0'
alias snux='bash ~/scripts/snux.sh'
alias ss='bash ~/scripts/ss.sh'
alias screenshot='bash ~/scripts/ss.sh'
alias record='bash ~/scripts/termrecorder.sh'
alias replay='bash ~/scripts/termreplayer.sh'
alias cycle='bash ~/scripts/walcycle.sh'
alias walcycle='bash ~/scripts/walcycle.sh'

###  Just The LS Shit  ###
superls() { colorls "$@" -a -sd && printf "\n"; } # Wombo combo.
alias ls='superls'
alias l='superls'
superlsl() { colorls "$@" -a -l -sd && printf "\n"; } 
alias la='superlsl'
alias lsa='superlsl'
alias lal='superlsl'
lsfiles() { colorls "$@" -a -f -sf && printf "\n"; }
alias files='lsfiles'
lsfolders() { colorls "$@" -a -d -sd && printf "\n"; }
alias folders='lsfolders'
lsreport() { colorls "$@" -a -sd -r && printf "\n"; }
alias report='lsreport'
# alias ls='ls -a --color'
# alias l='ls -a --color'
# alias la='ls -alh --color'
# alias lsa='ls -alh --color'
# alias lal='ls -alh --color'
# alias list='ls -alh --color'

###  Navigation Shit  ###
cdls() { cd "$@" && ls; } # Change dir and view contents.
alias cd='cdls'
alias go='cdls'
alias goto='cdls'
alias ..='cd ..'
alias ,,='cd ..'
alias up='cd ..'
alias ...='cd .. && cd ..'
alias ....='cd .. && cd .. && cd ..'
alias ~='cd ~'
alias home='cd ~'
alias 1='cd ~'
alias 2='cd -'
alias back='cd -'
alias 3='cd /'
alias breadcrumb='pwd'
alias current='pwd'
alias whereami='pwd'
alias here='pwd'
alias search='find'
alias locate='find'
alias cl='clear'
alias www='cd /var/www/public_html'
alias html='cd /var/www/public_html'

###  File & Directory Management Shit  ###
alias rm='rm -rIv'
alias remove='rm -rIv'
alias delete='rm -rIv'
alias trash='rm -rIv'
alias cp='cp -iv'
alias copy='cp -iv'
alias duplicate='cp -iv'
alias mv='mv -iv'
alias move='mv -iv'
alias send='mv -iv'
alias place='mv -iv'
alias makedir='mkdir'
alias newfolder='mkdir'
alias chmode='chmod'
alias permission='chmod'
alias permissions='chmod'
alias fileperm='chmod'
shortcut() { ln -s "$@" ~/Desktop/$@; } # Creates shortcut to desktop
alias link='ln'
alias short='ln -s'
alias sc='ln -s'
alias makeshort='shortcut'
alias preview='head'

###  User And Group Management Shit  ###
alias user='who'
alias online='who'
alias s='sudo'
alias root='su'
alias name='logname'
alias me='whoami'
alias password='passwd'
alias userpass='passwd'
alias adduser='useradd'
alias usradd='useradd'
alias addusr='useradd'
alias newuser='useradd'
alias usrdel='userdel'
alias deleteuser='userdel'
alias removeuser='userdel'
alias moduser='usermod'
alias changegroup='gpasswd -a'
alias changeowner='chown'
alias modowner='chown'

###  Program Shit  ###
alias n='nano'
alias na='nano'
alias nan='nano'
alias a='atom'
alias ato='atom'
alias fe='feh -g 1920x1080 -F -x -S filename -r $HOME/Pictures/'
alias lmux='tmux attach-session'
alias r='ranger'
alias tor='sh ~/Downloads/tor-browser_en-US/Browser/start-tor-browser'
alias neo='neofetch --block_range 0 15'
alias matrix='cmatrix -s'
alias snyph='python /var/www/public_html/snyph/api.py'
alias weather='curl http://wttr.in/los_angeles'
alias powa='cd /usr/lib/python3.6/site-packages/powerline/'
alias net='netstat'
alias netinfo='netstat'
alias system='printf "\n"; df -h -T; printf "\n"; vmstat; printf "\n"' # Free disk space & sysinfo.
alias sysinfo='system'
alias task='htop'
alias tasks='htop'
alias taskmanager='htop'
alias process='ps'
alias processes='ps'

###  Other Shit  ###
alias exi='exit'
alias eixt='exit'
alias end='exit'
alias quit='exit'
alias bye='exit'
alias say='printf'
message() { echo -en "${BCyan}Press Ctrl+D to EOF${NC}" && write "$@"; }
alias msg='message'
alias h='history'
alias clipboard='history'
alias commands='history'
alias copypaste='history'
alias terminal='tty'
lol() { echo "Don't get funny with me, ${USER}."; }
ayy() { echo "lmao"; }
lmao() { echo "Ayy, ${USER}."; }
asdf() { echo "Are you bored, ${USER}? I'm sure you have a backlog you could be watching..."; }
