#=============================================#
#     Caligula's .gitignore for dotfiles.     #
#=============================================#

# Ignore everything.
*

# But not these files.
!.aliases
!.bashrc
!.bashrcsnerx
!.gitignore
!.tmux.conf
!.xinitrc
!.zshrc
!compton.conf
!README.md
!roman.arch
!roman.zsh-theme

# Keep specific folders open with their specific dotfiles.
!.config/
.config/*
!.config/bspwm/
.config/bspwm/*
!.config/bspwm/bspwmrc
!.config/sxhkd/
.config/sxhkd/*
!.config/sxhkd/sxhkdrc
!.config/polybar/
.config/polybar/*
!.config/polybar/config
!.config/polybar/mail.py
!.config/polybar/mediaplayer.py
!.config/polybar/weather.py
!.config/termite/
.config/termite/*
!.config/termite/config
!.config/dunst/
.config/dunst/*
!.config/dunst/dunstrc
!Pictures/
Pictures/*
!Pictures/wal/
!Pictures/wal/*
# These are no longer used, but if powerline is fixed they will come back.
!powerlineconfigs/
!powerlineconfigs/*
