#=============================================#
#     Caligula's .gitignore for dotfiles.     #
#=============================================#

# Ignore everything.
*

# But not these files.
!.aliases
!.bashrc
!.bashrcsnerx
!.zshrc
!.gitignore
!.nanorc
!.tmux.conf
!.xinitrc
!compton.conf
!README.md
!roman.arch

# Keep specific folders open with their specific dotfiles.
!.config/
.config/*
!.config/bspwm/
.config/bspwm/*
!.config/bspwm/bspwmrcRome
!.config/bspwm/bspwmrcAntium
!.config/sxhkd/
.config/sxhkd/*
!.config/sxhkd/sxhkdrc
!.config/polybar/
.config/polybar/*
!.config/polybar/configRome
!.config/polybar/configAntium
!.config/polybar/mail.py
!.config/polybar/mediaplayer.py
!.config/polybar/weather.py
!.config/termite/
.config/termite/*
!.config/termite/Rome
!.config/termite/Antium
!.config/dunst/
.config/dunst/*
!.config/dunst/dunstrc
!.oh-my-zsh/
.oh-my-zsh/*
!.oh-my-zsh/themes/
.oh-my-zsh/themes/*
!.oh-my-zsh/themes/caligula.zsh-theme
!Pictures/
Pictures/*
!Pictures/wal/
!Pictures/wal/*
